body {
    font-family: 'sans-serif', 'Microsoft YaHei';
}
.header {
    width: 100%;
    height: 134px;
    background-color: #00a698;
    position: relative;
    user-select: none;
    padding-top: 2px;
    z-index: 1;
}
.header .logo {
    width: 560px;
    height: 128px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.header .yellow-line {
    width: 100%;
    height: 8px;
    background-color: #fff582;
    position: absolute;
    left: 0;
    bottom: 0;
}
.header .nav-box {
    width: 100%;
    height: 120px;
    text-align: center;
    padding-left: 300px;
    font-size: 0;
}
.header .nav-box__item {
    display: inline-block;
    line-height: 120px;
    width: 150px;
    text-align: center;
    font-size: 1.5rem;
    text-indent: -18px;
    color: #ffffff;
    margin: 0 100px;
    background-image: url(../images/ink_white.png);
    background-repeat: no-repeat;
    background-size: 105% 90%;
    background-position: center;
    cursor: pointer;
}
.header .nav-box__item.selected,
.header .nav-box__item:hover {
    background-image: url(../images/ink_yellow.png);
    color: #fff582;
}
@media (min-width: 992px) {
    .header .nav-box {
        padding-left: 300px;
    }
    .header .nav-box__item {
        margin: 0 100px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .header .nav-box {
        padding-left: 400px;
    }
    .header .nav-box__item {
        margin: 0 30px;
    }
}
@media (min-width: 1200px) and (max-width: 1440px) {
    .header .nav-box {
        padding-left: 428px;
    }
    .header .nav-box__item {
        margin: 0 50px;
    }
}
.header-mobile {
    width: 100%;
    height: 64px;
    background-color: #00a698;
    position: relative;
    user-select: none;
}
.header-mobile .logo {
    width: 280px;
    height: 64px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -140px;
}
.header-mobile .yellow-line {
    width: 100%;
    height: 4px;
    background-color: #fff582;
    position: absolute;
    left: 0;
    bottom: 0;
}
.header-mobile__nav-box {
    width: 100%;
    height: 60px;
    font-size: 0;
    border-bottom: 1px solid #f3f3f3;
}
.header-mobile__nav-box__item {
    display: inline-block;
    line-height: 60px;
    width: 33.33333%;
    text-align: center;
    font-size: 1.125rem;
    color: #476269;
}
.header-mobile__nav-box__item.selected {
    color: #40a798;
}
.banner-box {
    width: 100%;
    height: 180px;
}
.banner-box .bg-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
@media (min-width: 1200px) {
    .banner-box {
        height: 600px;
        margin-top: 10px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .banner-box {
        height: 400px;
        margin-top: 10px;
    }
}
.desc-box .title-box {
    padding-top: 20px;
    padding-left: 25px;
}
.desc-box .title-box .main-title {
    font-size: 1.125rem;
    font-weight: bold;
    color: #476269;
    line-height: 1;
    margin: 0;
    border-left: 5px solid #40a798;
    padding-left: 8px;
}
.desc-box .desc {
    padding: 10px 25px;
    text-indent: 20px;
    line-height: 1.5;
}
@media (min-width: 992px) {
    .desc-box .title-box .main-title {
        font-size: 1.5rem;
    }
}
.footer {
    margin-top: 20px;
}
.footer .footer-main-box {
    width: 100%;
    background-color: #98a5a5;
    padding: 20px 0;
}
.footer .footer-main-box .contact-box p {
    margin: 0;
}
.footer .footer-main-box .contact-box * {
    color: #444444;
    line-height: 1;
}
.footer .footer-main-box .contact-box .contact-title {
    margin-bottom: 5px;
}
.footer .footer-main-box .contact-box .cell-box {
    font-size: 0;
    margin: 10px 0;
    overflow: hidden;
}
.footer .footer-main-box .contact-box .cell-box * {
    display: inline-block;
    font-size: 16px;
}
.footer .footer-main-box .qrcode-box {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}
.footer .footer-main-box .qrcode-box .qrcode {
    width: 100px;
    height: 100px;
}
@media (min-width: 992px) {
    .footer .footer-main-box .qrcode-box {
        margin: 0;
    }
}
.footer .copyright {
    margin: 0;
    line-height: 1.5;
    text-align: center;
    font-size: 0.875rem;
    color: #acacac;
    padding: 10px 0;
    background-color: #476269;
}
@media (min-width: 992px) {
    .footer .copyright {
        line-height: 1;
        padding: 20px 0;
    }
}